// ====================== Header ======================
.home-header {
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;

    // ====================== Slideshow ======================
    .home-header-showcase-wrap {
        position: relative;
    }

    .home-header-showcase {
        position: relative;
        height: 625px;
        overflow: hidden;
    }

    .home-header-showcase-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .home-header-showcase-slide.current {
        opacity: 1;
        z-index: 99;
    }

    .home-header-showcase-slide-content {
        width: 600px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px 0;
        margin: 0 80px;

        .home-header-showcase-slide-title {
            font-size: 66px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 30px;

            & > span {
                color: $secondary-color;
                font-weight: 800;
            }
        }

        .home-header-showcase-slide-btn {
            display: inline-block;
            padding: 15px 20px;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $primary-color;
                color: $text-light;
            }

            & > i {
                margin-right: 5px;
                position: relative;
                top: 2px;
                font-size: 25px;
            }
        }

        .home-header-showcase-slide-btn-icon {
            width: 30px;
        }
    }

    .home-header-showcase-btns {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;

        & > button {
            font-size: 25px;
        }

        #home-header-showcase-btns-prev {
            margin-right: 5px;
        }

        #home-header-showcase-btns-next {
            margin-left: 5px;
        }

        .home-header-showcase-dot {
            margin: 0 5px;
            height: 5px;
            width: 5px;
            background-color: $primary-color;
            transition: all 0.3s ease-in-out;
        }

        .home-header-showcase-dot-current {
            width: 50px;
            background-color: $secondary-color;
        }
    }

    // Background Images
    .home-header-showcase-slide:first-child {
        background: url("../../public/imgs/home/slideshow-img-1.png")
            no-repeat center center/cover;
    }
    .home-header-showcase-slide:nth-child(2) {
        background: url("../../public/imgs/home/slideshow-img-2.png")
            no-repeat center center/cover;
    }
    .home-header-showcase-slide:nth-child(3) {
        background: url("../../public/imgs/home/slideshow-img-3.png")
            no-repeat center center/cover;
    }
    .home-header-showcase-slide:nth-child(4) {
        background: url("../../public/imgs/home/slideshow-img-4.png")
            no-repeat center center/cover;
    }

    // ====================== Info ======================
    .home-header-info {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .home-header-info-main-wrap {
        flex: 3.5;
        margin-right: 30px;

        .home-header-info-title-wrap {
            width: fit-content;
            padding: 20px;
            background-color: $primary-color;

            .home-header-info-title {
                color: $text-light;
                font-size: 42px;
                font-weight: 300;
                text-transform: uppercase;

                & > span {
                    font-weight: 700;
                }
            }
        }

        .home-header-info-desc-wrap {
            padding: 20px;
            width: 930px;

            .home-header-info-desc-title {
                margin-bottom: 15px;
                font-weight: 800;
                font-size: 36px;
                text-transform: uppercase;
            }

            .home-header-info-desc-text {
                margin-bottom: 15px;
                font-size: 29px;
                font-weight: 500;
            }
        }
    }

    .home-header-info-side-wrap {
        flex: 1;
        height: fit-content;
        padding: 30px;
        border: 4px solid $secondary-color;
        border-radius: 5px;

        .home-header-info-side-wrap-title {
            margin-bottom: 50px;
            font-size: 40px;
            font-weight: 300;
            text-transform: uppercase;

            & > span {
                font-weight: 700;
            }
        }

        .home-header-info-side-wrap-item {
            display: flex;
            margin-bottom: 40px;
        }

        .home-header-info-side-wrap-item-icon {
            flex: 1;
            margin-right: 30px;
            text-align: center;
            font-size: 60px;
            transition: 0.2s all ease-in-out;

            &:hover {
                color: $secondary-color;
            }
        }

        .home-header-info-side-wrap-item-text {
            flex: 4;
            font-size: 28px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

// ====================== Vozovy park ======================
.home-vehicle-showcase {
    position: relative;
}

.home-vehicle-showcase-wrap {
    position: relative;
}

.home-vehicle-showcase-inner {
    position: relative;
    height: 700px;
}

// Desktop btns
.home-vehicle-showcase-btns > button {
    cursor: pointer;
    z-index: 999;
}

.home-vehicle-showcase-btns > button > i {
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $secondary-color;
    transition: 0.2s all ease-in-out;

    &:hover {
        color: $secondary-color;
    }
}

#home-vehicle-showcase-btns-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

#home-vehicle-showcase-btns-next {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

// Mobile btns
.home-vehicle-showcase-mobile-btns {
    display: none !important;
    margin: 40px 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-vehicle-showcase-mobile-btns > button {
    cursor: pointer;
    z-index: 999;
}

.home-vehicle-showcase-mobile-btns > button > i {
    font-size: 60px;
    color: transparent;
    transition: 0.2s all ease-in-out;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $secondary-color;

    &:hover {
        color: $secondary-color;
    }
}

.home-vehicle-showcase-mobile-btns-middle-icon {
    font-size: 66px;
    color: $secondary-color;
}

.home-vehicle-showcase-title {
    margin: 40px 0;
    display: inline-block;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 78px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: $text-light;
    border-radius: 10px;
}

.home-vehicle-showcase-slide {
    padding: 0 100px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.home-vehicle-showcase-slide.vehicle-current {
    opacity: 1;
    z-index: 999;
}

.home-vehicle-showcase-slide-content {
    height: 100%;
    display: flex;
}

.home-vehicle-showcase-slide-content-img-wrap {
    flex: 1;
    display: flex;
    align-items: center;

    & > img {
        height: 500px;
        object-fit: cover;
        border-radius: 6px;
    }
}

.home-vehicle-showcase-slide-content-text-wrap {
    flex: 1;
    display: flex;
    align-items: center;

    .home-vehicle-showcase-slide-content-inner-text-wrap {
        width: 100%;
        padding: 0 80px;
    }

    .home-vehicle-showcase-slide-content-title {
        margin-bottom: 10px;
        font-size: 52px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .home-vehicle-showcase-slide-icons-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .home-vehicle-showcase-slide-row {
        margin-right: 15px;
        width: 250px;
        height: 10px;
        background-color: $secondary-color;
    }

    .home-vehicle-showcase-slide-icon {
        width: 30px;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    .home-vehicle-showcase-slide-content-text {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    // Small Imgs
    .home-vehicle-showcase-slide-content-sm-img {
        display: inline-block;
        margin-right: 20px;
        height: 140px;
        width: 140px;
        object-fit: cover;
        border-radius: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .home-vehicle-showcase-slide-content-btn {
        display: inline-block;
        margin: 20px 0;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        border: 2px solid $primary-color;
        color: $primary-color;
        transition: 0.2s all ease-in-out;
        border-radius: 6px;

        & > i {
            margin-right: 10px;
        }

        &:hover {
            color: $text-light;
            background-color: $primary-color;
        }
    }
}



// ====================== Trips ======================
.home-trips {
    background-color: #f2f2f2;
}

.home-trips-inner {
    padding: 80px;
}

.home-trips-text-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-trips-title {
        width: fit-content;
        padding: 20px;
        font-size: 56px;
        font-weight: 800;
        text-transform: uppercase;
        color: $text-light;
        background-color: $primary-color;
    }

    .home-trips-text {
        margin-top: 30px;
        font-size: 25px;
        font-weight: 600;
    }

    .home-trips-btn {
        padding: 15px 20px;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $primary-color;
            color: $text-light;
        }
    }
}

.home-trips-cards-wrap {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 60px;

    .home-trips-card {
        border-radius: 6px;
        box-shadow: 0px 3px 6px #00000029;
    }

    .home-trips-card-img-wrap {
        height: 325px;

        & > a > img {
            height: 100%;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            object-fit: cover;
        }
    }

    .home-trips-card-text-wrap {
        padding: 20px;
        height: 40%;
    }

    .home-trips-card-title {
        font-size: 34px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .home-trips-card-date {
        font-size: 29px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .home-trips-card-row {
        margin: 10px 0;
        height: 3px;
        width: 200px;
        background-color: $secondary-color;
    }

    .home-trips-card-text {
        font-size: 15px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1400px) {
    // Header Info
    .home-header .home-header-info-main-wrap .home-header-info-desc-wrap {
        width: 100%;
    }

    // ====================== Vehicle Slideshow ======================

    .home-vehicle-showcase-inner {
        height: 850px;
        display: flex;
    }

    .home-vehicle-showcase-slide-content-img {
        max-height: 400px;
    }

    .home-vehicle-showcase-slide-content {
        flex-direction: column;
    }

    .home-vehicle-showcase-slide-content-img-wrap {
        justify-content: center;
    }

    .home-vehicle-showcase-slide-content-img-wrap > img {
        width: 750px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-inner-text-wrap {
        padding: 0 40px;
    }

    // Trips
    .home-trips-cards-wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-trips-text-wrap .home-trips-title {
        font-size: 55px;
    }

    .home-trips-text-wrap .home-trips-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    // Header Info
    .home-header .home-header-info-main-wrap {
        flex: 3;
    }

    .home-header .home-header-info-side-wrap {
        flex: 1.5;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-title-wrap
        .home-header-info-title {
        font-size: 30px;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-desc-wrap
        .home-header-info-desc-title {
        font-size: 30px;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-desc-wrap
        .home-header-info-desc-text {
        font-size: 25px;
    }

    .home-header .home-header-info-side-wrap .home-header-info-side-wrap-title {
        font-size: 30px;
    }

    .home-header
        .home-header-info-side-wrap
        .home-header-info-side-wrap-item-icon {
        width: 60px;
    }

    .home-header
        .home-header-info-side-wrap
        .home-header-info-side-wrap-item-text {
        font-size: 22px;
    }

    // ====================== Vehicle Slideshow ======================

    .home-vehicle-showcase-inner {
        height: 750px;
        display: flex;
    }

    .home-vehicle-showcase-slide-content-sm-imgs-wrap {
        display: none;
    }

    .home-vehicle-showcase-slide-content-img {
        max-height: 300px;
    }

    .home-vehicle-showcase-slide-content-img-wrap > img {
        width: 550px;
    }

    // Trips
    .home-trips-text-wrap {
        flex-direction: column;
        justify-content: center;
    }

    .home-trips-text-wrap .home-trips-title {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .home-trips-text-wrap .home-trips-text {
        text-align: center;
    }

    .home-trips-text-inner-wrap:last-child {
        margin: 60px 0 20px 0;
    }

    .home-trips-cards-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    // Header Slideshow
    .home-header .home-header-showcase-slide:first-child {
        background: url("../../public/imgs/home/slideshow-mobile-img-1.png")
            no-repeat center center/cover;
    }

    .home-header .home-header-showcase-slide:nth-child(2) {
        background: url("../../public/imgs/home/slideshow-mobile-img-2.png")
            no-repeat center center/cover;
    }

    .home-header .home-header-showcase-slide:nth-child(3) {
        background: url("../../public/imgs/home/slideshow-mobile-img-3.png")
            no-repeat center center/cover;
    }

    .home-header .home-header-showcase-slide:nth-child(4) {
        background: url("../../public/imgs/home/slideshow-mobile-img-4.png")
            no-repeat center center/cover;
    }

    .home-header .home-header-showcase-slide-content {
        width: 100%;
        margin: 0;
        padding: 0 20px;
        top: 82%;
        transform: translateY(-82%);
    }

    .home-header
        .home-header-showcase-slide-content
        .home-header-showcase-slide-title {
        font-size: 31px;
    }

    .home-header
        .home-header-showcase-slide-content
        .home-header-showcase-slide-btn {
        padding: 10px 15px 15px 15px;
        font-size: 16px;
    }

    // Header Info
    .home-header .home-header-info {
        flex-direction: column;
    }

    .home-header .home-header-info-main-wrap {
        margin-right: 0;
    }

    // ====================== Vehicle Slideshow ======================

    .home-vehicle-showcase-title {
        font-size: 52px;
        margin: 40px 0 0 0;
    }

    .home-vehicle-showcase-inner {
        height: 700px;
        display: flex;
    }

    .home-vehicle-showcase-slide-content-img {
        max-height: 300px;
    }

    .home-vehicle-showcase-btns {
        display: none;
    }

    .home-vehicle-showcase-mobile-btns {
        display: flex !important;
    }

    .home-vehicle-showcase-slide {
        padding: 0 40px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-inner-text-wrap {
        padding: 0;
    }

    .home-vehicle-showcase-slide-content-img-wrap > img {
        width: 100%;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-text {
        font-size: 22px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-sm-img {
        height: 100px;
        width: 100px;
    }

    // Trips
    .home-trips-inner {
        padding: 40px;
    }

    .home-trips-cards-wrap {
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (max-width: 425px) {
    // Header Slideshow
    .home-header
        .home-header-showcase-slide-content
        .home-header-showcase-slide-title {
        font-size: 26px;
    }

    .home-header
        .home-header-showcase-slide-content
        .home-header-showcase-slide-btn {
        padding: 5px 15px 10px 15px;
        font-size: 14px;
    }

    // Header Info
    .home-header .home-header-info-main-wrap .home-header-info-title-wrap {
        text-align: center;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-title-wrap
        .home-header-info-title {
        font-size: 20px;
    }

    .home-header .home-header-info-main-wrap .home-header-info-desc-wrap {
        text-align: center;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-desc-wrap
        .home-header-info-desc-title {
        font-size: 27px;
    }

    .home-header
        .home-header-info-main-wrap
        .home-header-info-desc-wrap
        .home-header-info-desc-text {
        font-size: 22px;
    }

    .home-header .home-header-info-side-wrap .home-header-info-side-wrap-title {
        text-align: center;
        font-size: 29px;
    }

    .home-header
        .home-header-info-side-wrap
        .home-header-info-side-wrap-item-text {
        font-size: 20px;
    }

    .home-header
        .home-header-info-side-wrap
        .home-header-info-side-wrap-item-icon {
        margin-right: 20px;
        width: 55px;
    }

    // ====================== Vehicle Slideshow ======================

    .home-vehicle-showcase-inner {
        height: 550px;
        display: flex;
    }

    .home-vehicle-showcase-slide-content-img {
        max-height: 200px;
    }

    .home-vehicle-showcase-title {
        margin: 40px 0 0 0;
        font-size: 36px;
    }

    .home-vehicle-showcase-slide {
        padding: 0 20px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-inner-text-wrap {
        padding: 0 20px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-title {
        font-size: 36px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-text {
        font-size: 18px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-icon {
        width: 25px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-sm-img {
        height: 70px;
        width: 70px;
    }

    .home-vehicle-showcase-slide-content-text-wrap .home-vehicle-showcase-slide-content-btn {
        font-size: 18px;
    }

    // Trips
    .home-trips-inner {
        padding: 40px 20px;
    }

    .home-trips-cards-wrap {
        grid-template-columns: 270px;
        justify-content: center;
    }

    .home-trips-text-wrap .home-trips-title {
        font-size: 40px;
    }

    .home-trips-text-wrap .home-trips-text {
        font-size: 22px;
    }

    .home-trips-text-wrap .home-trips-btn {
        font-size: 18px;
    }

    .home-trips-cards-wrap .home-trips-card-title {
        font-size: 28px;
    }

    .home-trips-cards-wrap .home-trips-card-date {
        font-size: 25px;
    }
}
