.nav {
    width: 100vw;
    background-color: $text-light;
    z-index: 9999;
    display: none;
}

.nav-fixed {
    position: fixed;
}

.nav-inner {
    @include container-center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

// Logo
.nav-logo {
    width: 270px;
}

// Links
.nav-links-wrap {
    display: flex;
    align-items: center;

    .nav-link {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: $primary-color;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link-active::after {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $secondary-color;
    }
}

// Info wrap
.nav-info-wrap {
    display: flex;
    align-items: center;

    .nav-info-order-btn {
        display: flex;
        align-items: center;
        margin-right: 40px;
        padding: 10px;
        font-size: 17px;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-color;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $secondary-color;
            color: $text-light;
        }

        & > i {
            font-size: 20px;
            margin-right: 10px;
        }
    }

    .nav-info-phone-num-wrap {
        display: flex;
        align-items: center;

        .nav-info-phone-num-icon-wrap {
            margin-right: 10px;
        }

        .nav-info-phone-num-icon {
            width: 30px;
        }

        .nav-info-phone-num-text {
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 700;

            &:last-child {
                font-weight: 500;
            }
        }
    }
}

// Nav mobile
.nav-mobile {
    display: none;
    width: 100vw;
    background-color: $text-light;
    z-index: 9999;
}

.nav-mobile-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;

    .nav-mobile-logo-wrap {
        margin: 0;
    }

    .nav-mobile-bars-wrap {
        display: flex;
        align-items: center;
    }

    .nav-mobile-bars-btn {
        font-size: 50px;
    }
}

.nav-mobile-info-wrap {
    display: flex;
    justify-content: space-between;

    & > * {
        padding: 15px 0;
        font-size: 20px;
        text-align: center;
    }

    & > * > i {
        margin-right: 5px;
    }

    .nav-mobile-info-order-btn {
        flex: 1;
        color: $text-light;
        text-transform: uppercase;
        background-color: $secondary-color;
    }

    .nav-mobile-info-phone-num {
        flex: 1;
        color: $text-light;
        background-color: $primary-color;
    }
}

.nav-mobile-item-wrap {
    height: 0;
    text-align: center;
    transition: 0.25s all ease-in-out;
    overflow: hidden;

    .nav-mobile-item {
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
        background-color: rgba($color: #000000, $alpha: 0.025);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .nav-mobile-link {
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
    }
}

@media screen and (max-width: 1400px) {
    .nav-inner {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo-wrap {
        margin-bottom: 30px;
    }

    .nav-links-wrap {
        margin-bottom: 40px;
    }

    .nav-links-wrap .nav-link-active::after {
        bottom: -12px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .nav-mobile-info-wrap > * {
        font-size: 15px;
    }

    .nav-mobile-item-wrap .nav-mobile-link {
        font-size: 20px;
    }
}
